<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PTS Backend</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body
    class="d-flex justify-content-center align-items-center"
    style="width:100%; height:100vh;"
  >
    {{{body}}}
    <script src="/js/bootstrap.js"></script>
  </body>
</html>